dist: xenial
addons:
  apt:
    update: true
    packages:
    - libbind-dev
    - libkrb5-dev
    - libssl-dev
    - libcap-dev
    - libxml2-dev
    - libjson-c-dev
    - libgeoip-dev
language: c
compiler:
  - clang
  - gcc
install: ./autogen.sh
script:
  - ./configure --enable-warn-all
  - make dist
  - tar zxvf *.tar.gz
  - cd dnsperf-[0-9]*
  - mkdir build
  - cd build
  - ../configure --enable-warn-all
  - make
  - make test
  - cat src/test/test*.sh.log
